.toggle{
    display : flex;
    justify-content : space-between;
    border : 4px orange;
    border-radius : 2 rem;
    padding : 2px;
    position : relative;
    cursor : pointer;
}

.toggle>*{
    width : 2rem;
    height : 1rem;
    color : orange;

}

.t-button{
    border-radius : 100%;
    background : orange;
    position : absolute;

}